.body, * {
    margin: 0;
}

.header {
    padding-bottom: 150px;
    background-color: lightseagreen;
}

.home-title {
    display: inline;
}

.home-nav {
    text-align: center;
}

.home-nav li {
    display: inline-block;
}