* {
    margin: 0;
}

.header {
    padding-top: 5px;
    padding-bottom: 150px;
    background-color: rgb(207,46,46);
}

.header-content * {
    display: inline;
    color: white;
}

.header-title {
    margin-left: 30px;
}

.header-content ul {
    margin-left: 500px;
}

.header-content li {
    margin-left: 5px;
}